@{
    ViewBag.Title = "WechatIndex";
}

<h2>WechatIndex</h2>
<h3>总关注数：@ViewBag.followers.total</h3>
<h3>OpenId列表：</h3>
<p>

    @{
        var count = ViewBag.followers.count;
        for (int i = 0; i < count; i++)
        {
            <p>@ViewBag.followers.data.openid[i]</p>
        }
    }
</p>